*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.nav{
    height: 10%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    gap: 7%;
    /* margin-bottom: 3%; */
}
.logo{
    height: 100%;
    width: 25%;
    /* background-color: burlywood; */
    background-image: url(./shoes5.jpeg);
    background-position:20% ;
    background-size:25%;
    background-repeat: no-repeat;
}
.links1{
    height: 100%;
    width: 40%;
    /* background-color: #bf1e1e; */
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}
.links1 a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
   
}
a :hover{
   font-weight: 900;
}
.links2 a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.links2{
    height: 100%;
    width: 20%;
    /* background-color: #a09595; */
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}
.shoes{
        height: 90%;
        width: 100%;
        /* background-color: bisque; */
        display: flex;
        flex-direction: column;
        gap: 12%;
        justify-content: center;
        align-items: center;
}
.row1{
    height: 40%;
    width: 80%;
    /* background-color: #9d8686; */
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
.row2{
    height: 40%;
    width: 80%;
    /* background-color: #dbaeae; */
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
}
#joote{
    height: 100%;
    width: 22.5%;
    background-color: rgb(226, 226, 231);
    background-position: center ;
    /* background-size: contain; */
    background-repeat: no-repeat;
    /* position: absolute; */
    position: relative;
    opacity: 100%;
    
}
#joote:hover{
    opacity: 50%;
}
.shoes1:hover{
    position: absolute;
    top: -2%;
    left: -2%;
    
}
.shoes1{
    background-image: url(./shoes1.png);
    background-size: 85%;
   
}
.shoes2{
    background-image: url(./shoes2.png);
    background-size: 85%;
}
.shoes3{
    background-image: url(./shoes3.png);
    background-size: 100%;
}
.shoes4{
    background-image: url(./shoes4.png);
    background-size: 100%;
}
.shoes5{
    background-image: url(./shoes6.png);
    background-size: 100%;
}
.shoes6{
    background-image: url(./shoes7.png);
    background-size: 85%;
}
.shoes7{
    background-image: url(./shoes8.png);
    background-size: 98%;
}
.shoes8{
    background-image: url(./shoes9.png);
    background-size: 85%;
}